/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "scss/variables";

 .filterBtn { 
    height: $filterheight; 
    background-color: $lightBlue !important;
    border-radius: $border-radius;
    color: $whitesmoke !important;
   
 }
 .filterLabel {
    text-align: $filterTextAlign;
 }
.appFilter {
    margin-top: $filterMarginTop;
}
.mainContentDiv {
    margin-top: $mainContent;
}
.removeBtn {
    color: $black !important;
    margin-top: $discountPricePL !important;
}

.searchIcon {
    color:$whitesmoke;  
    font-size: $searchIconFontSize;
    padding-left: $searchIconPL;
    margin-top: $listPT;
}




.sortLabel {
    font-size:$sortLabelFontSize;
}
.sortDiv {
    padding-top: $sortPaddingTop;
}
.list {
    padding-top: $listPT;
}
.imgClass {
    padding-top: $listPT; 
   
}
.formCtrl{
    padding-top: $listPT;
}
.itemCategory{
    color: $grey; 
    font-size: $itemCategoryFS; 
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
}
.itemPrice{
    margin-bottom: $commonFontSize;
    font-size: $itemCategoryFS;
}
.itemDiscount{
    color: $grey;
}
.discountPercent{
    color: $green; 
    font-size: $itemCategoryFS; 
    padding-left: $discountPricePL;
}
.cartBtn {
    padding-top: $commonFontSize;
   
}
.productCart {
    height: $filterheight; 
    margin-left: $listPT; 
    border-radius: $listPT;
}
.cartContainer {
    margin-top: $cartMT;
}
.cartCtrl {
    border: $border $darkgrey;
}
.cartImage {
    padding-top: $listPT;
}
.cartDiscountPercent {
    color: $green;
}
.priceBox {
    border: $border $darkgrey;
}
.cartDiscountPrice {
    margin-left: $commonFontSize;
}
.cartActualPrice{
    margin-left: $commonFontSize;
}
.cartTotalPrice {
    margin-left: $commonFontSize;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
