<div class="container-fluid">
<div class="row">
 
    <!-- <div class="form-group col-md-12" > -->

    <div class="col-6 p-xs-1 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let item of storeProduct | searchItem: searchProduct">
      <div class="card">

        <img src="{{item.img_url}}" class="card-img-top" /> <!--class="imgClass"-->
        <div class="card-body">
          <div class="itemCategory"><b> {{item.category}} </b></div>
          <span class="itemPrice"><b>{{item.price | currency: 'INR'}} </b></span>
          <span class="itemDiscount"
            [ngClass]="item.discount == 0 ? '' : 'strike'"><b>{{(item.price*100)/(100-item.discount) | number}}</b></span>

          <span class="discountPercent"> <b>{{item.discount}}% off</b></span>

          <div class="cartBtn text-center">
            <button class="btn btn-warning w-xs-100 w-75 badge-pill" (click)="addProductOnCart(item)"><b>Add To
                Cart</b></button>
               
          </div>
        </div>
      </div>
    </div>
  
</div>
</div>
