
$filterheight: 50px;
$filterTextAlign: center;
$filterMarginTop: 20%;
$mainContent: 110px;
$imageWidth: 70px;
$imageHeight: 70px;
$imageMR: 80%;
$cartFontSize: 40px !important;
$headerML: 10px !important;
$border-radius: 20px !important;
$searchIconFontSize: 35px;
$searchIconPL: 7px;
$sortContainer: "Verdana, Geneva, Tahoma, sans-serif";
$commonFontSize: 20px; 
$pricePL: 10px;
$sortLabelFontSize:25px !important;
$sortPaddingTop: 4px;
$discountPricePL: 5px;
$listPT: 10px;
$border: 1.5px solid ;
$cartMT: 16%;
$searchBoxML: 34%;
$btnCartMT: -70px !important;
$itemCategoryFS: 12px; 
$searchRM: 60px !important;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !important;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$grey:    grey;
$whitesmoke:whitesmoke;
$lightBlue: #38c;
$darkgrey: darkgrey;
$black:   #000 !default;